.flash {
	text-align: center;
	width: 50%;
	font-size: 20px;
	font-style: italic;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 25px;
}

.flash.success {
	background-color: #4080bf;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.flash.notice {
	background-color: #4080bf;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h1 {
	text-align: center;
}

.paginate {
	text-align: center;
	background-color: #40c4ff;
	font-size: 25px;
	border-radius: 50px;
	width: 30%;
	margin: 0 auto;
	margin-top: 20px
}

.paginate a {
	color: #f5f5f5;
}