/*
*= require commontator/application
*/

@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import "materialize";
@import "buckets";
@import "home";
@import "lists";
@import "app";

.btn {
	margin: 10px;
}

.comments {
	margin: 30px;
}
